reget
plugins/inwork
docfile
web/
old/
imgs/contact.png
imgs/favicon-32x32.png
imgs/favicon.ico
imgs/favicon.bak
imgs/li.png
imgs/favicon.png
imgs/surf.svg
imgs/player.png
imgs/player.xcf
imgs/playerstand.png
imgs/surfboard.png
player.png
playerl.png

node_modules/
package-lock.json
package.json
surf.svg
surf.bak
todo
surf.bak.bak
.eslintrc.js
githist

app.js
app.js.1
app.js.2
app.js.3
chart.js
chart.js.1
denotest.js
imgs/surflogo.webp
lips.js
lips.js.1
mov.js
mov.js.1
mov.js.2
mov.js.3
plugins/customElement.min.js
plugins/firstEngage.js
surf.tar.gz
surf0922.tar.gz
surf100222.tar.gz
surf101622.tar.gz
test.js
watermelonsite.tar.gz

